[report]
omit =
        iReporter/venv/*
        */venv/*
        */site-packages/nose/*
        */__pycache__/*
        *.pyc
        */home/travis/virtualenv/*
        */__init__.py
        api/app.py
        api/helpers/auth.py
        api/helpers/validators.py
        api/models/incident_model.py
        api/models/user_model.py
        api/helpers/incidenthelper.py
        run.py
