[report]
omit =
        iReporter/venv/*
        */venv/*
        */tests/*
        */site-packages/nose/*
        */__pycache__/*
        *.pyc
        */home/travis/virtualenv/*
        */__init__.py
        api/helpers/validators.py