[report]
omit =
        iReporter/venv/*
        */venv/*
        */tests/*
        */site-packages/nose/*
        */__pycache__/*
        *.pyc
        api/helpers/validators.py
        */home/travis/virtualenv/*
        */__init__.py
        run.py
        .env